@import "../../styles/bulma.scss";

.material-icons {
  font-family: 'Material Icons';
  font-size: 24px;
}

@media screen and (min-width: 1088px) {
  .my-navbar {
    display: block !important;
  }

  .my-navbar .navbar-brand {
    display: none;
  }

  #my-navbar-menu {
    width: 600px;
    margin: 0 auto;
  }

  #my-navbar-menu>div { 
    flex: 1;
  }

  #my-navbar-menu>div>div {
    flex: 1;
    justify-content: center;
  }

  .mynavbar-test {
    display: inline !important;
  
    svg {
    text-align: center;
    width: 14px;
    height: 7px;
    color: #4285BC;
    display: block;
    margin: auto;
    }
  
    .mymobile {
      display: none;
    } 

    .hidden {
      visibility: hidden;
    }
  }
  
}

@media screen and (max-width: 1088px) { 
    .my-navbar-center {
        display: none
    }
    .navbar-menu.is-active {
        height: 100%;
        min-width: 100%;
        position: fixed;
        padding-top: 35%;
        padding-left: 10%;
    }

    .mynavbar-test {
      //display: inline !important;
    
      svg {
      //text-align: center;
      width: 14px;
      height: 7px;
      color: #4285BC;
      //display: block;
      //margin: auto;
      }

      .mydesktop {
        display: none;
      } 
    
      .hidden {
        visibility: hidden;
      } 
    }
 
}

.navbar {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 12px #0000001D;
    opacity: 1;

  &-text {
    font: SemiBold 20px/24px Montserrat;
    letter-spacing: 0;
    color: #394E5D;
    opacity: 1;
  }

  &-burger {
      margin-left: 7% !important;
  }

  &-center {
    display: block;
    margin-right: 43%;
    margin-left: auto
  }

}


